<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shf.dao.UserMapper">
<!--    查询操作-->
    <select id="findAll" resultType="com.shf.domain.User">
        select * from user
    </select>

<!--    插入操作-->
    <insert id="save" parameterType="com.shf.domain.User">
        insert into user values (#{id},#{username},#{password})
    </insert>

    <!--    修改操作-->
    <update id="update" parameterType="com.shf.domain.User">
        update user set username=#{username},password=#{password} where id=#{id}
    </update>

<!--    删除操作-->
    <delete id="delete" parameterType="Integer">
        delete from user where id=#{id}
    </delete>

<!--    根据id进行查询-->
    <select id="findById" resultType="user" parameterType="int">
        select * from user where id=#{id}
    </select>

    <select id="findByCondition" resultType="com.shf.domain.User" parameterType="com.shf.domain.User">
        select * from user
        <where>
            <if test="id!=0">
                and id=#{id}
            </if>
            <if test="username!=null">
                and username=#{username}
            </if>
            <if test="password!=null">
                and password=#{password}
            </if>
        </where>
    </select>

<!--    sql语句抽取-->
    <sql id="selectUser">select * from user</sql>
    <select id="findByIds" parameterType="list" resultType="com.shf.domain.User">
#         select * from user
        <include refid="selectUser"/>
        <where>
            <foreach collection="list" open="id in(" close=")" item="id" separator=",">
                #{id}
            </foreach>
        </where>
    </select>

    <insert id="saveUser" parameterType="com.shf.domain.User">
        insert into user values (#{id},#{username},#{password},#{birthday})
    </insert>


    <resultMap id="userMap" type="user">
        <id column="uid" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="birthday" property="birthday"/>
        <collection property="orderList" ofType="order">
            <id column="oid" property="id"/>
            <result column="orderTime" property="orderTime"/>
            <result column="total" property="total"/>
        </collection>
    </resultMap>
    <select id="findAllByOrder" resultMap="userMap">
        select *,o.id oid from user u,`order` o where u.id=o.id;
    </select>

    <resultMap id="userRoleMap" type="user">
        <id column="userId" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="birthday" property="birthday"/>
        <collection property="orderList" ofType="role">
            <id column="roleId" property="id"/>
            <result column="roleName" property="roleName"/>
            <result column="roleDesc" property="roleDescription"/>
        </collection>
    </resultMap>
    <select id="findUserAndRole" resultMap="userRoleMap">
        select * from user u,sys_user_role ur,sys_role r where u.id=ur.userId and ur.roleId=r.id;
    </select>
</mapper>